.search-container {
    background-color: #FFDA80; /* 요소의 배경색 */
    width: 100%;               /* 너비를 부모 요소의 100%로 설정 */
    height: 100%;              /* 높이를 부모 요소의 100%로 설정 */
    display: flex;             /* Flexbox 컨테이너로 설정 */
    flex-direction: column;    /* 자식 요소를 수직 방향으로 정렬 */
    justify-content: space-around; /* 자식 요소 사이와 양 끝에 간격 추가 */
    align-items: center;       /* 자식 요소를 가로축 가운데로 정렬 */


    & h1{
        position: absolute;
        margin-top: -73vh;
        font-size: 7.3vh;
        text-align: center;
        color: #6D4322;
    }
}

.snow{
    position: absolute;
    color: white;
    font-size: 7vh;
    margin-top: -90vh;
}


.random-recommend {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1vh;
    margin-top: -59vh;
    font-size: 4vh;
    color: #6D4322;
}



.button-setup {
    display: flex; /* Flexbox 활성화 */
    flex-direction: column; /* 세로 방향 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    position: absolute;
    margin-top: 4vh;

    & button {
        position: relative;
        color: #6d4322;
        width: 60vh;
        height: 11vh;
        border-radius: 10px;
        border: 5px solid #FFF1BB;
        font-size: 4vh;
        background-color: #FFFBED;
        margin: 1.5vh;
    }

}

@font-face {
    font-family: 'DOSSaemmul';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.input-container{
    margin-top: 77vh;
    display: flex;
    font-size: 7vh;
    align-items: center;

    & input{
        width: 53vh;
        height: 7vh;
        font-size: 3.5vh;
        color: #6D4322;
        font-family: 'DOSSaemmul', sans-serif;
        border: 1.3vh solid #FFFFFF;
    }

    input::placeholder {
        color: #6D4322;
        font-size: 3.5vh;
        opacity: 0.8;
        font-family: 'DOSSaemmul', sans-serif;
    }
}

